*{
    margin: 0;
    padding: 0;
  
}


nav{
  padding: 30px 10px;
  display: flex;
  justify-content: space-between;
  background: #000;
  position: relative;
  height: 70px;
  align-items: center;
  padding-inline: 20px;
}

nav ul{
  display: flex;
  list-style: none;
  gap: 50px;

}

nav ul li a{
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
  font-size: 20px;
}

.menu-bar{
  font-size: 30px;
  display: none;
}

@media  (max-width: 412px) {

  nav ul{
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: #000;
    align-items: center;
    gap: 0;
    overflow: hidden;
  }

  nav ul li{
    padding: 20px;
  }

  .menu-bar{
    display: block;
    cursor: pointer;
  }

  #menuList{
    transition: all 0.3s ease-in-out;
  }
  
}

