*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.content{
    background-image: url("/Contact.png");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2 black;
    position: relative;
}

.content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.head{
    color: white;
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 50px;
    font-weight: bold;
}

.Contact{
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    padding: 40px;
    border: 2px solid black;
}

.head1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 10px;
}

.information{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;   
}

.desc{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}

.para{
    width: 70%;
}

.info{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    border: 2px solid black;
    width: 30%;
}

.form_part{
    width: 38%;
    padding: 40px;
    border: 2px solid black;
}

.inputs{
    display: flex;
    gap: 40px;
    width: 100%;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}