*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.content{
    background-image: url("/Contact.png");
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2 black;
    position: relative;
}

.content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
}

.head{
    color: white;
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 50px;
    font-weight: bold;
}