*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family:sans-serif */
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.contact_page{
  height: 120vh;
  position: relative;
}

.contact_desc{
  background-color: lightblue;
  text-align: center;
  height: 60vh;
}

.head{
  padding-top: 20px;
}

#para{
  width: 50%;
  margin: auto;
  padding-top: 10px;
  
} 


.contact_ui{
  display: flex;
  justify-content: space-around;

  border: 2px solid black;
  background-color: white;
  position: absolute;
  margin-left: 20%;
  margin-right: 20%;
  top: 30%;
  /* margin: 10%; */
}

.info{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

form{
  /* border: 2px solid black; */
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.name{
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.name_email{
  display: flex;
  align-items: center;
  gap: 30px;
}

.name1{
   padding: 12px;
   border: none;
   border-bottom: 2px solid black;
  
}

.msg{
  padding: 12px;
  height: 20vh;

  border: none;
  border-bottom: 2px solid black;
}

.sub{
  padding: 12px;
  width: 85%;
   border: none;
   border-bottom: 2px solid black;
}

.btn{
  width: 10%;
  margin-top: 30px;
}





