*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family:sans-serif */
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.contact_desc{
  background-color: lightblue;
  text-align: center;
  height: 60vh;
}

.head{
  padding-top: 20px;
}

#para{
  width: 50%;
  margin: auto;
  padding-top: 10px;
  
} 




